.bookContainer div {
  /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
  margin-left: 2%;
  display: grid;
  grid-template-columns: repeat(3, 42%);
  gap: 2rem;
  margin-top: 2rem;
}
.bookContainer {
  width: 70%;
}
.bookContainer div div {
  display: flex;
  flex-direction: column;
}
.bookContainer div div h1 {
  font-size: 20px;
  padding: 0%;
  margin: 0%;
}

.bookContainer div div h2 {
  font-size: 20px;
  padding: 0%;
  margin: 0%;
  font-weight: 100;
}
