.App{
  background-color: #132743;
  color: #ffb5b5;
  text-align: center;  
  display: flex;
  justify-content:space-evenly;
  
  overflow: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.search{
  width: 70%;
}
.App form{
  padding-bottom: 2%;
}
.App .button{
  background-color: #ffb5b5;
  color: #132743;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.readingList{ 
  background-color: #ffb5b5;
  color: #132743;
  align-items: center;
  width: 30%;
  min-height: 700px;
  display: block;
  overflow: auto;  
}

.App{
  
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

}